.game{
  max-width: 500px;
  margin: 0 auto;
}

.body{
  display: flex;
}
.left{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.right{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.number {
  color: red;
  flex-basis: 33%;
}

.star{
  color: aqua;
  flex-basis: 33%;
}

.star img{
  height: 25px;
}
 .game-done .message{
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
 }